# Estudando limpeza e normalização de dados

Link do dataset: https://www.kaggle.com/datasets/rabieelkharoua/students-performance-dataset?resource=download

In [2]:
import pandas as pd

dataset_students = pd.read_csv("/home/pedro/Documents/DataScience/Pandas_Learning/Students_Dataset_Cleaning/Student_performance_data _.csv")

dataset_students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [4]:
dataset_students.isnull().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

* Removendo algumas colunas 'irrelevantes'

In [9]:
dataset_removed = dataset_students.drop(columns=['Extracurricular', 'Sports', 'Music', 'Volunteering', 'Gender', 'Ethnicity'])

In [12]:
dataset_removed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   ParentalEducation  2392 non-null   int64
 3   StudyTimeWeekly    2392 non-null   float64
 4   Absences           2392 non-null   int64
 5   Tutoring           2392 non-null   int64
 6   ParentalSupport    2392 non-null   int64
 7   GPA                2392 non-null   float64
 8   GradeClass         2392 non-null   float64
dtypes: float64(3), int64(6)
memory usage: 168.3 KB

* Aplicando casting na coluna StudyTImeWeekly para int64

In [14]:
dataset_removed['StudyTimeWeekly'] = dataset_removed['StudyTimeWeekly'].astype(int)
dataset_removed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   ParentalEducation  2392 non-null   int64
 3   StudyTimeWeekly    2392 non-null   int64
 4   Absences           2392 non-null   int64
 5   Tutoring           2392 non-null   int64
 6   ParentalSupport    2392 non-null   int64
 7   GPA                2392 non-null   float64
 8   GradeClass         2392 non-null   float64
dtypes: float64(2), int64(7)
memory usage: 168.3 KB

In [15]:
dataset_removed.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2387    False
2388    False
2389    False
2390    False
2391    False
Length: 2392, dtype: bool