In [4]:
import pandas as pd

# Entendendo Base de dados

Fonte de dados = IBGE<br>
O que é = Pesquisa Nacional por Amostra de Domicílios - PNAD

In [5]:
pnad_dtset = pd.read_csv("/home/pedro/Documents/DataScience/Estatística/Medidas e FrequÊncias/pnad_2015_clean.csv")

In [6]:
pnad_dtset.head()

      State     Sex  Age  Color  Years_of_study  Income  Height
0  Rondônia    Male   23  Brown              11     800    1.60
1  Rondônia  Female   23  White              11    1150    1.74
2  Rondônia  Female   35  Brown              14     880    1.76
3  Rondônia    Male   46  White               5    3500    1.78
4  Rondônia  Female   47  Brown               8     150    1.69

In [7]:
pnad_dtset.isnull().sum()

State             0
Sex               0
Age               0
Color             0
Years_of_study    0
Income            0
Height            0
dtype: int64

In [8]:
for column in pnad_dtset.columns:
    print(f"{column} = {pnad_dtset[column].unique()}")

State = ['Rondônia' 'Acre' 'Amazonas' 'Roraima' 'Pará' 'Amapá' 'Tocantins'
 'Maranhão' 'Piauí' 'Ceará' 'Rio Grande do Norte' 'Paraíba' 'Pernambuco'
 'Alagoas' 'Sergipe' 'Bahia' 'Minas Gerais' 'Espírito Santo'
 'Rio de Janeiro' 'São Paulo' 'Paraná' 'Santa Catarina'
 'Rio Grande do Sul' 'Mato Grosso do Sul' 'Mato Grosso' 'Goiás'
 'Distrito Federal']
Sex = ['Male' 'Female']
Age = [23 35 46 47 34 57 60 50 26 49 52 38 45 43 53 62 69 41 25 33 44 65 32 30
 64 31 63 40 28 37 39 36 73 56 27 42 51 29 24 55 67 66 61 54 48 80 79 71
 59 19 22 77 58 17 72 70 18 21 20 68 74 76 75 84 85 78 15 82 95 13 83 81
 87 88 16 91 92 97 89 90 86 94 14 99]
Color = ['Brown' 'White' 'Black' 'Yellow' 'Indigenous']
Years_of_study = [11 14  5  8 13 15  9  0  4  6  2  1  3  7 10 12]
Income = [  800  1150   880 ... 36000  1329  5260]
Height = [1.6  1.74 1.76 1.78 1.69 1.64 1.57 1.61 1.79 1.71 1.75 1.67 1.72 1.77
 1.66 1.73 1.87 1.89 1.68 1.63 1.65 1.81 1.7  1.58 1.45 1.62 1.52 1.8
 1.49 1.83 1.59 1.86 1.54 1.51 1.55 1.84 1.56 1.82 1.53 1.88 1.85 1.93
 1.5  1.47 1.94 1.9  1.92 1.42 1.48 1.46 1.91 1.95 1.96 1.98 1.37 1.38
 1.43 1.97 1.99 1.4  1.41 1.44 2.   1.39 2.02 1.34 2.03]

In [9]:
pnad_dtset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76840 entries, 0 to 76839
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           76840 non-null  object
 1   Sex             76840 non-null  object
 2   Age             76840 non-null  int64
 3   Color           76840 non-null  object
 4   Years_of_study  76840 non-null  int64
 5   Income          76840 non-null  int64
 6   Height          76840 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 4.1+ MB

In [10]:
pnad_dtset.loc[pnad_dtset['Income'] == 0]

                  State     Sex  Age  Color  Years_of_study  Income  Height
42             Rondônia    Male   63  Brown               5       0    1.65
68             Rondônia    Male   73  Brown               0       0    1.80
130            Rondônia    Male   69  White               8       0    1.61
171            Rondônia    Male   79  White              11       0    1.79
223            Rondônia    Male   60  Brown               8       0    1.72
...                 ...     ...  ...    ...             ...     ...     ...
75783  Distrito Federal    Male   53  Brown               2       0    1.62
75789  Distrito Federal    Male   61  Brown              11       0    1.66
75793  Distrito Federal    Male   55  White               4       0    1.63
76239  Distrito Federal    Male   33  White              11       0    1.72
76261  Distrito Federal  Female   31  Brown              13       0    1.72

[2867 rows x 7 columns]

## Ajustando alguns valores

In [11]:
pnad_dtset['Sex'].unique()

array(['Male', 'Female'], dtype=object)

* Categoriazando cada sexo para um valor numérico correspondente sendo 0 para 'Male' e 1 para 'Female'.

In [12]:
#Dicionaŕio usado para referêcnai

label_sexo = dict({
    'Male':0,
    'Female':1
})

#Se o dicionário de Label possui +1 chave é interessante usar 'map' para ser mais eficiente
# src = https://stackoverflow.com/questions/20250771/remap-values-in-pandas-column-with-a-dict-preserve-nans
pnad_dtset['Sex'] = pnad_dtset['Sex'].map(label_sexo)

In [13]:
pnad_dtset['Sex'].head()

0    0
1    1
2    1
3    0
4    1
Name: Sex, dtype: int64

* Categorizando coluna 'Color'

In [14]:
pnad_dtset['Color'].unique()

array(['Brown', 'White', 'Black', 'Yellow', 'Indigenous'], dtype=object)

In [15]:

label_color = dict() 

for elem in pnad_dtset['Color'].unique():
    if elem not in label_color.keys():
        label_color[elem] = label_color.__len__()

print(label_color)

{'Brown': 0, 'White': 1, 'Black': 2, 'Yellow': 3, 'Indigenous': 4}

In [16]:
#Aplicando alterações no dataframe.

pnad_dtset['Color'] = pnad_dtset['Color'].map(label_color)

pnad_dtset['Color'].head()

0    0
1    1
2    0
3    1
4    0
Name: Color, dtype: int64

# Ditribuição de Frequência

* Inicialmente para variáveis QUALITATIVAS

In [17]:
pnad_dtset.columns

Index(['State', 'Sex', 'Age', 'Color', 'Years_of_study', 'Income', 'Height'], dtype='object')

In [18]:
#Do dataset temos como colunas qualitativas = Sex, State, Color

qualitative_columns = ['Sex', 'State', 'Color']

for coluna in qualitative_columns:
    print(pnad_dtset[coluna].value_counts())
    print("|||||||||||||||||")

Sex
0    53250
1    23590
Name: count, dtype: int64
|||||||||||||||||
State
São Paulo              8544
Minas Gerais           7686
Rio Grande do Sul      6322
Bahia                  5717
Rio de Janeiro         5556
Pará                   4449
Paraná                 4356
Pernambuco             3820
Goiás                  3478
Ceará                  3359
Santa Catarina         2275
Amazonas               2206
Distrito Federal       2054
Mato Grosso            1800
Maranhão               1787
Rondônia               1537
Espírito Santo         1511
Mato Grosso do Sul     1440
Tocantins              1306
Sergipe                1287
Paraíba                1274
Piauí                  1211
Rio Grande do Norte     973
Acre                    937
Alagoas                 903
Roraima                 540
Amapá                   512
Name: count, dtype: int64
|||||||||||||||||
Color
0    35925
1    31815
2     8391
4      357
3      352
Name: count, dtype: int64
|||||||||||||||||

In [19]:
#Podemos colocar cada valor em porcetagem com o 'normalize'

for coluna in qualitative_columns:
    print(f"{pnad_dtset[coluna].value_counts(normalize=True)*100}")
    print("|||||||||||||||||")

Sex
0    69.299844
1    30.700156
Name: proportion, dtype: float64
|||||||||||||||||
State
São Paulo              11.119209
Minas Gerais           10.002603
Rio Grande do Sul       8.227486
Bahia                   7.440135
Rio de Janeiro          7.230609
Pará                    5.789953
Paraná                  5.668922
Pernambuco              4.971369
Goiás                   4.526288
Ceará                   4.371421
Santa Catarina          2.960698
Amazonas                2.870901
Distrito Federal        2.673087
Mato Grosso             2.342530
Maranhão                2.325612
Rondônia                2.000260
Espírito Santo          1.966424
Mato Grosso do Sul      1.874024
Tocantins               1.699636
Sergipe                 1.674909
Paraíba                 1.657991
Piauí                   1.576002
Rio Grande do Norte     1.266268
Acre                    1.219417
Alagoas                 1.175169
Roraima                 0.702759
Amapá                   0.666320
Name: proportion, dtype: float64
|||||||||||||||||
Color
0    46.752993
1    41.404217
2    10.920094
4     0.464602
3     0.458095
Name: proportion, dtype: float64
|||||||||||||||||

* Tornando visualização mais direta

In [20]:
#Salvando a frequência e porcetagem de cada valor na coluna Color

frequencia_Color = pnad_dtset['Color'].value_counts()
porcentagem = pnad_dtset['Color'].value_counts(normalize=True)*100

In [21]:
distribuicao_color = pd.DataFrame({'Frequência': frequencia_Color, 'Porcentagem': porcentagem})

In [22]:
distribuicao_color.head()

       Frequência  Porcentagem
Color
0           35925    46.752993
1           31815    41.404217
2            8391    10.920094
4             357     0.464602
3             352     0.458095

* Para a visualização não é muito intuitivo mantermos 'Color' em valores numéricos

In [23]:
# Importante = Sempre trabalhar com cópias
label_color_decoder = dict({
    0: 'Brown',
    1: 'White',
    2: 'Black',
    3: 'Yellow',
    4: 'Indigenous'
})
distribuicao_color.rename(index=label_color_decoder, inplace=True)

In [24]:

distribuicao_color.head()

            Frequência  Porcentagem
Color
Brown            35925    46.752993
White            31815    41.404217
Black             8391    10.920094
Indigenous         357     0.464602
Yellow             352     0.458095

* Utilizando Cross tab

In [37]:
#freq_Color_Sex = pd.crosstab(pnad_dtset['Sex'], pnad_dtset['Color'])

#Adicionando a média de renda 

freq_Color_Sex = pd.crosstab(pnad_dtset['Sex'], pnad_dtset['Color'], aggfunc='mean', values=pnad_dtset['Income'])


freq_Color_Sex

Color            0            1            2            3            4
Sex
0      1659.577425  2925.744435  1603.861687  4758.251064  1081.710938
1      1176.758516  2109.866750  1134.596400  3027.341880  2464.386139

In [38]:
label_sex_decoder = dict({
    0: 'Male',
    1: 'Female'
})

freq_Color_Sex.rename(index=label_sex_decoder, inplace=True)
freq_Color_Sex.rename(columns=label_color_decoder, inplace=True)

freq_Color_Sex

Color         Brown        White        Black       Yellow   Indigenous
Sex
Male    1659.577425  2925.744435  1603.861687  4758.251064  1081.710938
Female  1176.758516  2109.866750  1134.596400  3027.341880  2464.386139

## Distribuição de variáveis QUANTITATIVAS

* A distribuição de renda vai ser de acordo com a quantidade de salários minimos.


1. Classe E = 2 SM
2. Classe D = 2SM a 4SM
3. Classe C = 4 a 10 SM
4. Classe B = 10 a 20SM
5. CLasse A = Acima de 20SM

1 SM = 788,00 R$

In [46]:
pnad_dtset['Income'].min()

0

In [47]:
pnad_dtset['Income'].max()

200000

In [41]:
#Lista contendo os limites min e max de cada classe

#0 menor valor de salário para a classe E
list_rendas = [0, (788.00*2), (788.00*4), (788.00*10), (788.00*20), (788.00*20)+1]

list_rendas

[0, 1576.0, 3152.0, 7880.0, 15760.0, 15761.0]

* https://pandas.pydata.org/docs/reference/api/pandas.cut.html

A função cut vai permitir categorizar as rendas de acordo com o cálculo feito a cima além de plicarmos labels as mesmas

In [45]:
#Lista de labels para as classes
list_labels = ['E', 'D', 'C', 'B', 'A']

#Include_lowest é necessário pois no dataset há pessoas com rendas == 0
pd.cut(x=pnad_dtset['Income'], bins=list_rendas, labels=list_labels, include_lowest=True).value_counts(normalize=True)*100

Income
E    65.263586
D    21.905374
C     9.967601
B     2.856881
A     0.006558
Name: proportion, dtype: float64

* Com a análise feita a cima podemos ver que >50% dos participantes fazem parte da classe E